body {
    background-color: #87CEEB;
}

hr {
    color: purple;
}

p {
    color: white;
    font-size: 15px;
}

thead {
    color: purple
}

tr {
    color: purple
}

td {
    color: purple
}

th {
    color: purple
}

.bg-lt-g {
    background-color: #87CEEB;
}

.purple {
    color: purple
}