body {
    background-color: #87CEEB;
}

hr {
    color: white

}

p {
    color: white;
    font-size: 15px;
}

thead {
    color: #D8BFD8;
}

tr {
    color: #D8BFD8;
}

td {
    color: #D8BFD8;
}

th {
    color: #D8BFD8 
}

.bg-lt-g {
    background-color: #87CEEB;
}

.purple {
    color: purple
}