body {
    background-color: #87CEEB;
}

hr {
    color: purple;
}

thead {
    color: purple;
    background-color: #87CEEB
}

tr {
    color: purple
}

td {
    color: purple
}

th {
    color: purple
}

.bg-lt-g {
    background-color: #87CEEB;
}

.purple {
    color: purple
}